/*

Design settings:

--- 01 TYPOGRAPHY SYSTEM (px)

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium:
Semi-bold:
Bold: 700

- Line heights:
Default: 1
Small: 1.2
Medium:
Paragraph default: 1.4


- Letter spacing:
Heading letter spacing: 0.3
Subheading letter spacing:

--- 02 COLORS
(Primary with tints, shades and accent colors)

- Primary:
- Tints:
- Shades:
- Accents:
- Greys:
  - dark: hsl(218, 44%, 22%)
  - medium: hsl(218, 8%, 42%)
  - light: hsl(212, 45%, 89%)
- White: hsl(0, 0%, 100%)

--- 03 IMAGES
- No system

--- 04 ICONS
- source:

--- 05 SHADOWS
- No system

--- 06 BORDER RADIUS
- 8px
- 20px

--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  /* 10 / 16px */
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 12rem auto;
  max-width: 144rem;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  line-height: 1;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* ******************************** */
/* LAYOUT STYLES */
/* ******************************** */
.qr-card {
  width: 40rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}

.qr-img {
  width: 36rem;
  height: 36rem;
  background-image: url(/images/image-qr-code.png);
  background-size: contain;
  border-radius: 11px;
  margin: 1.6rem auto 0 auto;
}

/* ******************************** */
/* TYPOGRAPHY STYLES */
/* ******************************** */

.heading-primary {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  color: hsl(218, 44%, 22%);
  line-height: 1.2;
  letter-spacing: 0.3px;
}

.qr-description {
  font-size: 2rem;
  color: hsl(218, 8%, 42%);
}

.qr-details {
  padding: 3.2rem;
  text-align: center;
  line-height: 1.4;
}

/* ******************************** */
/* UTILITIES STYLES */
/* ******************************** */

.flex {
  display: flex !important;
}

.jc-center {
  justify-content: center !important;
}

.al-center {
  align-items: center !important;
}

/* ******************************** */
/* MEDIA QEURIES */
/* ******************************** */

/* 460px breakpoint */
@media all and (max-width: 28.75em) {
  html {
    /* 6.5 / 16px */
    font-size: 40.625%;
  }

  .qr-details {
    padding: 2.4rem;
  }

  .heading-primary {
    font-size: 3rem;
  }

  .qr-description {
    font-size: 2.4rem;
  }
}
